:root {
  --numsize: 120%;
  --bg: #FFF;
  --fg: #111;
  --hibg: #0076A6;
  --hifg: #000;
}
html {
  font-family: "Aero", "Calibri", sans-serif;
  background: var(--bg);
  color: var(--fg);
}

.module {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: .5rem;
}

.module>* {
  flex-grow: 1;
}


.module :first-child {
  flex-grow: 0;
  margin-right: .5rem;
}

.module span {
  padding: 0.5ex 1ex;
}


input {
  background: var(--bg);
  color: var(--fg);
  padding: 0.5ex 1ex;
  border: var(--fg) solid 1px;
  font-family: "Aero", "Calibri", sans-serif;
  font-size: 1rem;
}

input[disabled] {
  border: none;
}

input::selection {
  background: var(--hibg);
  color: white;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: right;
  font-size: var(--numsize);
  width: 4ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: 0.25rem var(--hibg) solid;
}

#rules {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#finalClassification,
#rules span {
  color: var(--hibg);
  font-weight: bold;
}

#results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#results * {
  margin: 0.2rem;
}

#copyzone {
  display: flex;
}

#copyzone input {
  flex-grow: 1;
  margin-right: 1ch;
}


@media screen and (min-width: 30rem) {
  main, header {
    max-width: 30em;
    position: relative;
    margin: 0 auto;
  }
}

#source {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 10em;
  overflow: hidden;
}
#source a {
  font-weight: bold;
  display: block;
  background: #621360;
  padding: 3em 10em 1ex;
  color: white;
  transform: translateX(50%) rotate(45deg);
  transform-origin: top center;
  text-decoration: none;
}

#share {
  display: flex;
  flex-direction: column;
}
#share p { margin-top: 0; }
#share input { font-size: 1rem; }
#showingShared {
  flex: 0 0 100%;
  text-align: center;
}

@media screen and (min-width: 70rem) {
  main, header {
    max-width: 70rem;
    position: relative;
    margin: 0 auto;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  header {
    text-align: center;
  }

  section {
    display: inline-block;
    width: 30rem;
  }

  #results {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --fg: #777;
    --hifg: #40B;
    --hibg: #CCC;
  }
}
