html {
  font-family: "Aero", "Calibri", sans-serif;
}

.module {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: .5rem;
}

.module :first-child {
  flex-grow: 1;
  margin-right: .5rem;
  font-size: 1rem;
}

@media screen and (min-width: 30rem) {
  main, header {
    width: 30rem;
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (min-width: 70rem) {
  main, header {
    width: 70rem;
    position: relative;
    margin: 0 auto;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  header {
    text-align: center;
  }

  section {
    display: inline-block;
    width: 30rem;
  }

  section.results {
    width: auto;
  }
}
