/*********************************************
 * NARROW LAYOUT (DEFAULT)
 *********************************************/

:root {
  --numsize: 120%;
  --bg: #FFF;
  --fg: #000;
  --hibg: #0076A6;
  --highlight: #99CCFF;
  --border: #888;
  --border-disabled: #aaa;
  --corner: #621360;
  --trans: background 0.4s ease-in-out;
  --header-align: inherit;
  --wide-direction: column;
  --wide-align: center;
}

/*********************************************
 * WIDE LAYOUT
 *********************************************/

 @media screen and (min-width: 70rem) {
  :root {
    --header-align: center;
    --wide-direction: row;
    --wide-align: start;
  }
}

/*********************************************
 * DARK MODE
 *********************************************/

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --fg: #AAA;
    --hibg: #30A6D6;
    --highlight: #000;
    --border: #888;
    --border-disabled: #444;
    --link: #996;
    --corner: #996;
  }

  a,
  a:visited,
  a:active {
    color: var(--link);
  }

}

/*********************************************
 * GENERAL LAYOUT
 *********************************************/

html {
  font-family: "Calibri", sans-serif;
  background: var(--bg);
  color: var(--fg);
}

main {
  max-width: 70em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: var(--wide-direction);
  align-items: var(--wide-align);
}

header {
  text-align: var(--header-align);
}

section {
  display: inline-block;
  width: 100%;
}

/*********************************************
 * RESULTS
 *********************************************/


#results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1em;
  width: 100%;
}

.module {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: .5rem;
}

.module>* {
  flex-grow: 1;
}


.module :first-child {
  flex-grow: 0;
  margin-right: .5rem;
}

.module span {
  padding: 0.5ex 1ex;
}


input {
  background: var(--bg);
  color: var(--fg);
  padding: 0.5ex 1ex;
  border: var(--border) solid 1px;
  font-family: "Calibri", sans-serif;
  font-size: 1rem;
}

input[disabled] {
  border-color: var(--border-disabled);
}

input::selection {
  background: var(--hibg);
  color: white;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: right;
  font-size: var(--numsize);
  width: 4ch;
}

input[type='text'][value=''] {
  background: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: 0.25rem var(--hibg) solid;
}


#finalClassification,
#gpa,
#rules span {
  color: var(--hibg);
  font-weight: bold;
}

/*********************************************
 * SHARE INDICATION
 *********************************************/

#copyzone {
  display: flex;
}

#copyzone input {
  flex-grow: 1;
  margin-right: 1ch;
}


/*********************************************
 * CORNER SOURCE LINK
 *********************************************/

#source {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 10em;
  overflow: hidden;
  z-index: -1;
}

#source a {
  font-weight: bold;
  display: block;
  background: var(--corner);
  padding: 3em 10em 1ex;
  color: var(--bg);
  transform: translateX(50%) rotate(45deg) scale(0.75);
  transform-origin: top center;
  text-decoration: none;
}

/*********************************************
 * SHARE
 *********************************************/

#share {
  display: flex;
  flex-direction: column;
}

#share p { margin-top: 0; }
#share input { font-size: 1rem; }
#showingShared {
  flex: 0 0 100%;
  text-align: center;
}

/*********************************************
 * RULE HIGHLIGHTING
 *********************************************/

[data-highlight]:hover,
.highlight {
  transition: var(--trans);
  background: var(--highlight);
}

[data-highlight] {
  transition: var(--trans);
  padding: 0.5em 1em;
  margin: -0.5em -1em;
  border-radius: 0.5em;
}

dt {
  margin-left: -1em;
  padding: 1em 0 0.5em 1em;
  border-radius: 0.5em 0.5em 0 0;
  transition: var(--trans);
}

dd {
  margin-left: -1em;
  padding: 0 1em 1em 2em;
  border-radius: 0 0 0.5em 0.5em;
  transition: var(--trans);
}
